/* файл для медиазапросов */

/* для ширины экрана не более 1350п */
@media(max-width: 1350px) {
    body {
        background-size: 70%;
    }
}

/* для ширины экрана не более 1050п */
@media(max-width: 1050px) {
    body {
        background-size: 60%;
    }
}

/* для ширины экрана не более 950п */
@media(max-width: 950px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 3rem;
    }

    main {
        padding: 2rem 9rem;
    }

    
}


@media(max-width: 880px) {
    .gallery {
        padding: 1rem 4rem;
        grid-template-columns: 22.3rem 22.3rem 22.3rem;
        grid-template-rows: 22.2rem 22.2rem 22.2rem;
        justify-content: center;    

    }
}

/* для ширины экрана не более 800п */
@media(max-width: 800px) {
    .gallery{
        gap: 1rem;
    }
    .gallery .gallery-img img {
       width: 90%;
    }
}

/* для ширины экрана не более 760п */
@media(max-width: 760px) {
    .gallery {
        padding: 1rem 4rem;
        grid-template-columns: 20rem 20rem;
        justify-content: right; 
        gap: 0rem 
    }
}

/* для ширины экрана не более 720п */

@media(max-width: 720px) {
    header nav{
        /* flex-wrap: wrap; */
        align-items: center;
    }

}

/* для ширины экрана не более 700п */
@media(max-width: 700px) {
    
    header nav {
        padding: 1rem 3.6rem;
        gap: 2rem;
    }

    main {
        padding: 1rem 7rem;
    }
}

/* для ширины экрана не более 610п */
@media(max-width: 610px) {
    header nav{
        gap: 0;
    }
    main {
        padding: 1rem 3rem;
    }
    .certificates {
        padding: 3rem 5rem;
    }

}

/* для ширины экрана не более 570п */
@media(max-width: 570px) {
    main {
        padding: 0rem 3rem;
        grid-template-columns: 40rem;
        justify-content: center; */
    }
    
    main .title .top {
        font-size: 1.7rem;
        font-weight: bold;

    }
    
    main .title h1 {
        font-size: 4.9rem;
        line-height: 1;
    }
    
    main .title .bottom {
        font-size: 1.1rem;
        font-weight: bold;
     }
    
    main p {
        font-size: 1.1rem;
        font-weight: bold; */
    }
    header {
        padding: 3rem 3rem 0 3rem;
    }
    
    .resume .resume-info {
        padding: 0rem;
    }
    .resume {
        grid-template-columns: 10rem 0.2rem 35rem;
    }
}

/* для ширины экрана не более 530п */
@media(max-width: 530px) {
    main{
        grid-template-columns: 30rem;
    }
    .resume {
        grid-template-columns: 7rem 0.2rem 31rem;
    }
    header nav{
        flex-wrap: wrap;
        justify-content: center;
    }
    .certificates .certificates-img img {
        width: 90%;
        height: 90%;
    }
}