.QR__code{
      background-color: rgb(247, 252, 252);
      max-width: 270px;
      padding: 20px;
      margin: 110px auto;
      border-radius: 20px;
      border: 1px solid rgb(242, 242, 242);
      font-family: 'Outfit', sans-serif;
      font-size: 15px;
      color: rgb(65, 64, 64);
      text-align: center;
    }
.QR__image{
    border-radius: 10px;
    max-width: 100%;
    position: relative; 
    }